<link rel="stylesheet" type="text/css" href="/css/fileupload-response.css">
<link rel="stylesheet" type="text/css" href="/css/header.css">
<div class="header">
    <div class="container">
        <a href="/index" class="logo">
            <img src="images/logo.svg" style="	max-width:100%;	max-height:100%;border:0;" />
        </a>
        <div class="navi" style="margin-top: 34px">

        </div>
    </div>
</div>
<div class="content" style="text-align: center">

        <img src="/images/alert.svg" style="width: 15%;height: 15%; margin-bottom: 20px"/>
        <p>Der verwendete Internet Explorer wird von der Lessons Learned Datenbank nicht unterstützt.</p>
        <p>Bitte verwende<b> Firefox</b> oder<b> Chrome </b>für eine optimale Benutzererfahrung.</p>

</div>