<div class="big-row-contact">
    <div class="avatar-1">
        <img class="contact" src="images/contact.svg" />

        <a onclick="showCard()" class="button"><img class="contact-icon" src="images/fragen-icon.svg" />Für Fragen</a>
    </div>
    <div class="rectangle">
        <div class="circle">
            <img src="images/contact.svg" />

        </div>
        <div class="item-small">
            <div class="title">Sulimma, Klaus (G-QM)</div>
            <p class="info">Tel:+4953718053605</p>
            <p class="info">Handy:+4915228561214</p>
            <a href = "mailto: klaus.sulimma@iav.de">klaus.sulimma@iav.de</a>
            <p class="info">Prozess: •<a href="https://profi.iavgroup.local/pkit/go/pelement.do?id=854908&type=Subprocess" target="_blank"> Projektlebenszyklus </a></p>
            <br>
            <br>
            <a class="goback" onclick="closeCard()" style="cursor: pointer;"><img src="images/arrows.svg"/></a>
        </div>

    </div>

</div>