<div class="icons">

    <a href="#" class="information" onclick="window.open('documents/Information.pdf','popup','width=600,height=600'); return false;" ><i class="fas fa-info"></i>information</a>
    <a href="#" class="datenschutz" onclick="window.open('documents/Hilfe.pdf','popup','width=600,height=600'); return false;"><i class="fas fa-question"></i><label style="cursor:pointer;float: right; position: absolute;margin-top: 4px">weitere information</label></a>
    <a href="#" class="add" onclick="displayModal()"><i class="fas fa-plus"></i>add user case</a>

</div>