<link rel="stylesheet" type="text/css" href="/css/footer-new.css">
<div class="footer-wrapper">

    <div class="footer">
        <div class="left">
            <p> <a onclick="displayModal()" style="font-weight: bold">Neuen Eintrag erstellen</a></p>
            <p> <a onclick="window.open('documents/Informationen zur Lessons Learned Datenbank_V0.0.2.pdf','popup','width=600,height=600'); return false;" >Informationen zur Lessons Learned Datenbank</a></p>
        <p> <a onclick="window.open('documents/Datenschutzhinweise für die Nutzung der Lessons Learned Datenbank_2020_10_28.pdf','popup','width=600,height=600'); return false;">Datenschutzinformationen</a></p>
        </div>
        <div class="right">
            <p><b>Verantwortlich</b></p>
            <p> Reppel, Daniel (TM-F)</p>
            <p><a style="color: #14639e; text-decoration: none;" href = "mailto: daniel.reppel@iav.de">daniel.reppel@iav.de</a></p>
        </div>
        <div class="right">
            <p> Sulimma, Klaus (G-QM)</p>
            <p><a style="color: #14639e; text-decoration: none;" href = "mailto: klaus.sulimma@iav.de">klaus.sulimma@iav.de</a></p>
        </div>



    </div>


</div>