<link rel="stylesheet" type="text/css" href="/css/header.css">
<link rel="stylesheet" type="text/css" href="/css/login-response.css">
<div class="header">
    <div class="container">
        <a href="/index" class="logo">
            <img src="images/logo.svg" style="	max-width:100%;	max-height:100%;border:0;" />
        </a>
        <div class="navi">

        </div>
    </div>
</div>
<div class="content" style="text-align: center">

        <img src="/images/alert.svg" style="width: 10%;height: 10%"/>
     <p>Ihre Sitzung ist abgelaufen. Bitte melden Sie sich erneut an.</p>
            <a href="/login"><button type="button">Zur Anmeldung</button></a>





</div>